.container {
    background-image: url('./public/typing.png');
    height: 600px;
    width: 100%;

}

/* .box {

    margin-left: 490px;
    padding-top: 250px;
    border: 2px solid black;
    width: 300px;

} */

/* .boxText {
    color: red;
    margin-left: 120px;
} */

/* .boxButton {
    padding: 80px;
    display: flex;

}

.boxButton button {
    margin-left: 15px;

} */